

  
  a {
    color: #f82f53;
    text-decoration: none;
  }
  
  .cd-slider-wrapper {
    position: relative;
    display: inline-block;
    float: left;
  }

  .cd-slider-navigation {
    opacity: 0;
  }

  .cd-item-info p {
    line-height: 1.6;
    margin: 1em 0;
    color: #67919c;
  }
  .cd-item-info .cd-item-action li {
    display: inline-block;
    margin-right: 1em;
  }
  .cd-item-info .cd-item-action li:first-child {
    margin-left: -4px;
  }
  .cd-item-info .add-to-cart {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0.25em;
    border: none;
    padding: .6em 1.2em;
    background-color: #f82f53;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    cursor: pointer;
  }
  