#loginButton, #profileButton {
    --b: 3px;   /* border thickness */
    --s: .15em; /* size of the corner */
    --c: #20e80e;
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
  }
#loginButton:hover, #profileButton:hover,
#loginButton:focus-visible, #profileButton:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
  }
#loginButton:active , #profileButton:active {
    background: var(--c);
    color: #fff;
  }

#loginButton, #profileButton {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    margin: .1em;
  }

  #loginButton{
    position: absolute;
    right: 12px;
    transform: translate(0, -30%);
    font-size: 1.5rem;
  }

    #profileButton{
        position: absolute;
        right: 120px;
        transform: translate(0, -30%);
        font-size: 1.5rem;
        width: 249px;
    }

